body {
  margin: 0;
  padding: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: rgb(73, 54, 54);
  color: rgb(255, 224, 157);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1 {
  font-size: 70px;
}

.text {
  color: rgb(201, 161, 161);
  font-size: 22px;
}

form {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 250px;
  text-align: center;
}

input {
  width: 180px;
  padding: 10px 35px 10px 15px;
  text-align: center;
  margin: 3px;
  border-radius: 100px;
  border: none;
  outline: none;
}

img.magnifyingGlassImg {
  width: 25px;
  height: 25px;
  object-fit: cover;
}

button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -40px;
}

a:link {
  text-decoration: none;
  color: rgb(30, 20, 20);
  letter-spacing: 5px;
  font-weight: bold;
}

a:visited {
  text-decoration: none;
  color: rgb(30, 20, 20);
  letter-spacing: 5px;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
  color: rgb(204, 193, 193);
}

div {
  margin: 10px;
  padding: 10px;
}

img {
  width: 70%;
  height: 70%;
}

div.recipeContainer {
  min-width: 950px;
}

div.breakfastRecipeContainer {
  min-width: 950px;
}

div.lunchRecipeContainer {
  min-width: 950px
}

div.dinnerRecipeContainer {
  min-width: 950px;
}
